<h1>Pimp my checkboxes!</h1>

<div>
  <mat-checkbox>Task 1</mat-checkbox>
</div>
<div>
  <mat-checkbox>Task 2</mat-checkbox>
</div>
<div>
  <mat-checkbox>Task 3</mat-checkbox>
</div>
<div>
  <mat-checkbox>Task 4</mat-checkbox>
</div>
